body {li a:hover { background-color: #111;}
  background-color: DarkCyan;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

}
.dropdown-child ul li{
  list-style:none;
  display:inline-block;
  margin:0 20px;
  position:relative;
}


  ul{list-style-type:none;
     margin: 0
	 padding:0;
	 overflow:hidden;
  background-color:#006400;}
  li {float:left;}
  li a {display:block;
  rext-align:center
  padding:14px 16px
  text-decoration:none;}
 li a:hover {background-color:#111;}